body {
  background: linear-gradient(120deg, #c9d0e3 0%, #c9d0e3 50%, #9aa4bd 50%, #9aa4bd 100%);
  min-height: 100vh;
  padding: 50px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-attachment: fixed;
}

.custom-bg-danger {
  background-color: #ff0000; 
  
}

.custom-bg-primary {
  background-color: #007bff; 
}
